**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.toolstarget
**/.editorconfig
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/.DS_Store
**/README.md
**/LICENSE
**/.github
**/tests/**/bin
**/tests/**/obj
